.header{
    background-color: white; /* cor chamativa para destacar o header */
    position: fixed; /* manter o header parado na tela */
    top: 20px; /* espaçamento de 20px do topo */
    left: 50%; /* pegar distância da esquerda para direita */
    transform:translate(-50%); /* centralizar no meio do html */
    width: calc(100% - 40px); /* largura total da tela menos o espaçamento de 20px de cada lado */
    border-radius: 15px; /* borda arredondada para uma maior sutilidade */
    z-index: 999; /* garantir que o header fique acima dos outros elementos */
    display: flex; /* serve para manter o itens flexiveis à edição vertical/horizontal */
    justify-content: space-between; /* serve para dar espaçamento entre os itens */
    align-items: center; /* alinhar os itens no meio */
    padding: 12px 20px;
}

.logo img{
    height: 48px; /* definir a altura da logo */
}

.nav-center ul{
    list-style: none; /* remover os marcadores da lista */
    display: flex; /* exibir os itens em linha */
    gap: 2.5rem; /* adicionar espaçamento entre os itens */
}

.nav-center a,
.nav-right a{
    font-size: 1.5rem; /* aumentar o tamanho da fonte para melhor legibilidade */
}

.nav-center a:hover,
.nav-right a:hover{
    color: #7c3aed;
}

.nav-right ul{
    display: flex; /* exibir os itens em linha */
    gap: 2.5rem; /* adicionar espaçamento entre os itens */
    align-items: center; /* alinhar os itens no meio */
}
.nav-right img{
    height: 20px;
}

.nav-right a:hover img{
    opacity: 0.7; /* adicionar um efeito de opacidade ao passar o mouse sobre os ícones */
}

body{
    background-color: black;
}